<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ 'invoice'|trans }}</title>
</head>
<body>

<table style="width: 100%;">
<tr>
    <td>
        <img src="{{ asset('images/Briefkopf_allgemein_Englisch_Logo_Deutsch.jpg') }}">
    </td>
    <td>
        <img src="{{ asset('images/tjv-gross.jpg') }}">
    </td>
</tr>
</table>

</body>
</html>