{% extends 'base.html.twig' %}

{% block title %}Login!{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1 class="display-4">Login</h1>
        <p class="lead">Please enter your email address that has been used to register your club/association/union and
            we'll send an link to reset your password.</p>
        <hr class="my-4">
        <div>
            {{ form_start(my_form) }}
            {{ form_widget(my_form) }}
            <input class="btn btn-primary btn-lg" type="submit" value="Reset Password"/>
            {{ form_end(my_form) }}
            {{ form_errors(my_form) }}
        </div>
    </div>
{% endblock %}
