{% extends 'base.html.twig' %}

{% block title %}Registration!{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1 class="display-4">Reset password</h1>
        <p class="lead">Please set your new password.</p>
        <hr class="my-4">
        <div>
            {{ form_start(my_form, {'method': 'POST'}) }}
            {{ form_widget(my_form) }}
            <input class="btn btn-primary btn-lg" type="submit" value="Update"/>
            {{ form_end(my_form) }}
            {{ form_errors(my_form) }}
        </div>
    </div>
{% endblock %}
