twig:
    default_path: '%kernel.project_dir%/templates'

    paths:
        '%kernel.project_dir%/public/styling': styling
        '%kernel.project_dir%/public/images': images

    globals:
        year: 2026
        itp_count: 32
        itc_count: 19
        deadline: 'March 4, 2026 23:59'
        endDate: 'March 19, 2026 23:59'
        accommodation: '@App\Service\AccommodationService'
        contestant: '@App\Service\ContestantService'
        accommodation_limit: '%app.limit.accommodation%'
        contestant_limit: '%app.limit.competition%'

    form_themes: ['bootstrap_5_layout.html.twig']

when@test:
    twig:
        strict_variables: true
