{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Hello!</h1>
            <p class="lead">This is the new entry form for the registration process of International Thuringia Cup 2019.</p>
            <hr class="my-4">
            <p>The data should be very similar to what have been in the Excel sheet in previous years. Please proceed by clicking the button below.</p>
            <a class="btn btn-primary btn-lg" href="{{ path('registration') }}" role="button">Let's start</a>
        </div>
    </div>
    </div>
{% endblock %}
