<!DOCTYPE html>
<html>
<body>

<h1>
    ITP Registration
</h1>
<h2>
    Forgot Password
</h2>
<p>
    You receive this mail because you have registered for International Thuringia Cup and forgot your password. <br/>
    Please visit <a href="{{ link }}">{{ link }}</a> to reset your password.
</p>

</body>
</html>